<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>LoginServiceImpl</servlet-name>
    <servlet-class>com.jhnews.server.LoginServiceImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>LoginServiceImpl</servlet-name>
    <url-pattern>/jhnews/LoginService</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>AnnouncementFetcherImpl</servlet-name>
    <servlet-class>com.jhnews.server.AnnouncementFetcherImpl</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>AnnouncementFetcherImpl</servlet-name>
    <url-pattern>/jhnews/AnnouncementFetcher</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Jhnews.html#HOME</welcome-file>
  </welcome-file-list>

</web-app>
